{{if .Data.IsStreamPage}}
  {{template "shared/stream-page.layout.tmpl" .}}
{{else}}
  {{template "shared/base.layout.tmpl" .}}
{{end}}

{{define "title"}}{{.Data.ConnProfile.Settings.Conn.ID}} | Connection profiles | Internet Access {{end}}
{{define "description"}}Manage network connection profile{{end}}
{{define "mode"}}advanced{{end}}

{{define "content"}}
  {{$conn := .Data.ConnProfile.Settings.Conn}}

  {{
    template "shared/turbo-cable-stream-source.partial.tmpl" dict
    "Name" (print .Meta.BasePath "internet/conn-profiles/" $conn.UUID)
    "BasePath" .Meta.BasePath
  }}

  <main class="main-container" tabindex="-1" data-controller="default-scrollable">
    {{if ne (.Meta.Form.Get "nav") "hidden"}}
      <nav class="breadcrumb main-breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="{{urlJoin (dict
            "path" .Meta.BasePath
            "query" .Meta.Form.Encode
          )}}">Admin</a></li>
          <li><a href="{{urlJoin (dict
            "path" (print .Meta.BasePath "internet")
            "query" .Meta.Form.Encode
          )}}">Internet</a></li>
          {{$connProfilesFragment := "internet_other_conn-profiles"}}
          {{if eq $conn.Type.Info.Short "wifi"}}
            {{$connProfilesFragment = "internet_wifi_conn-profiles"}}
          {{else if eq $conn.Type.Info.Short "ethernet"}}
            {{$connProfilesFragment = "internet_ethernet_conn-profiles"}}
          {{end}}
          <li><a href="{{urlJoin (dict
            "path" (print .Meta.BasePath "internet")
            "query" .Meta.Form.Encode
            "fragment" $connProfilesFragment
          )}}">Connection profiles</a></li>
          <li class="is-active"><a href="{{.Meta.Path}}" aria-current="page">{{$conn.ID}}</a></li>
        </ul>
      </nav>
    {{end}}

    <section class="section content">
      <h1>Connection profile: {{$conn.ID}}</h1>
      <h3>Activation</h3>
      <turbo-frame
        id="internet_conn-profiles_{{$conn.UUID}}_activation.frame"
        data-turbo-reload
        refresh="morph"
      >
        <p>
          Status:
          {{if not .Data.Active}}
            {{/*i.e. .Data.Active is nil*/}}
            <span class="tag is-warning">unknown</span>
          {{else if not .Data.Active.HasData}}
            <span class="tag is-info">inactive</span>
          {{else}}
            <span class="tag is-success">active</span> on {{.Data.Active.DeviceInterfaces | join ", "}}
          {{end}}
        </p>
        <p>TODO: if active, display some more info about the active connection</p>
        <p>
          TODO: the connection profile file is auto-generated from drop-in snippet files, show a
          button to re-generate the connection profile file.
        </p>
        <!--
          TODO: change this to reload only the current profile (and move the "reload all profiles"
          button to the home page), using org.freedesktop.NetworkManager.Settings.LoadConnections
        -->
        <div class="field is-grouped">
          <div class="control">
            <form
              action="{{.Meta.BasePath}}internet/conn-profiles"
              method="POST"
              data-controller="form-submission"
              data-action="submit->form-submission#submit"
              data-form-submission-target="submitter"
              class="mt-4 mb-3"
            >
              <input type="hidden" name="state" value="reloaded">
              <input type="hidden" name="redirect-target" value="{{urlJoin (dict
                "path" .Meta.Path
                "query" .Meta.Form.Encode
              )}}">
              <input
                class="button is-primary"
                type="submit"
                value="Reload all profiles"
                data-form-submission-target="submit"
              >
            </form>
          </div>
        {{if ne .Data.ConnProfile.Filename ""}}
          <div class="field is-grouped">
            <div class="control">
              <form
                action="{{.Meta.Path}}"
                method="POST"
                data-controller="form-submission"
                data-action="submit->form-submission#submit"
                data-form-submission-target="submitter"
                class="mt-4 mb-3"
              >
                <input type="hidden" name="state:reloaded" value="true">
                <input type="hidden" name="redirect-target" value="{{urlJoin (dict
                  "path" .Meta.Path
                  "query" .Meta.Form.Encode
                )}}">
                <input
                  class="button is-primary"
                  type="submit"
                  value="Reload this profile"
                  data-form-submission-target="submit"
                >
              </form>
            </div>
          {{end}}
          <div class="control">
            <form
              action="{{.Meta.Path}}"
              method="POST"
              data-controller="form-submission"
              data-action="submit->form-submission#submit"
              data-form-submission-target="submitter"
              class="mt-4 mb-3"
            >
              <input type="hidden" name="state:activated" value="true">
              <input type="hidden" name="redirect-target" value="{{urlJoin (dict
                "path" .Meta.Path
                "query" .Meta.Form.Encode
              )}}">
              <input
                class="button is-primary"
                type="submit"
                value="{{if .Data.Active.HasData}}Reactivate profile{{else}}Activate temporarily{{end}}"
                data-form-submission-target="submit"
              >
            </form>
            <!-- TODO: also show a button to deactivate the profile, if it's active -->
          </div>
        </div>
      </turbo-frame>
    </section>

    <section class="section content">
      <h2>Settings</h2>
      <p class="two-card-width">
        You can edit the settings here, or you can view and edit this connection profile's
        <a href="/admin/fs-su/files/root{{.Data.ConnProfile.Filename}}" target="_blank">file</a>
        directly using the system file manager.
        TODO: detect if the file for this connection profile is actually a symbolic link into
        somewhere in /run or /var/run, and if so, add a warning message that settings changes on
        this page (and edits to this connection profile's file) won't be persisted across reboots;
        then also link to the snippets drop-in directory and the templated snippets drop-in
        directory for making persistent changes, and to a relevant section of Forklift's feature
        flags for the connection profile.
      </p>
      <div class="card section-card">
        <div class="card-content">
          {{
            template "internet/conn-profiles/settings-form.partial.tmpl" dict
            "Settings" .Data.ConnProfile.Settings
            "Meta" .Meta
          }}
        </div>
      </div>
    </section>
  </main>
{{end}}
